.homePage{
    display: flex;
    flex-direction: column;
}
.homePage header.homePageHeader {
    margin-top: 67px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.homePage header.homePageHeader h1.headerTitle{
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.04em;
}
.homePage section.allMovies{
    width: 100%;
    padding: 0 12.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.homePage section.allMovies ul.movieList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
li.moviePoster{
    margin: 0 15px 10px 15px;
    height: 209px;
    width: 145px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 8px;
}

li.moviePoster img{
    width: 100%;
    height: 100%;
}