header.subHeader {
    margin-top: 67px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header.subHeader h1.subHeaderTitle{
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.04em;
}
header.subHeader h1.subHeaderTitle.sucess{
    color: #247A6B;
}