header.pageHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 67px;
    top: 0;
    left: 0;
    background-color: #c3cfd9;
}

header.pageHeader .headerTitle{
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    color: #E8833A;
}